<!DOCTYPE html>
<html>
  <head>
    <title>Plantgram</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,900&family=Roboto:ital,wght@0,700;0,900;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <nav>
  <img class="nav-img" src="https://www.flaticon.com/svg/static/icons/svg/25/25694.svg"/>
  <div class="nav-links">
  <p>profile<p>
  <p>login</p>
  </div>
  </nav>

  <body>
    <%= yield %>
  </body>
</html>
